doctype html
html(lang='en')
  head(itemscope itemtype='http://schema.org/WebSite')
    title(itemprop='name') All Notes
    meta(content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' name='viewport')
    meta(name='viewport' content='width=device-width')
    link(rel='shortcut icon' type='image/x-icon' href='favicon.ico')
    link(rel='apple-touch-icon' sizes='135x140' href='images/bootdey_135x140.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/bootdey_76x76.png')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/bootstrap.min.css')
  body
    #snippetContent
      .page-content.container.note-has-grid
        ul.nav.nav-pills.p-3.bg-white.mb-3.rounded-pill.align-items-center
          li.nav-item
            a.nav-link.rounded-pill.note-link.d-flex.align-items-center.px-2.px-md-3.mr-0.mr-md-2.active#all-category(href='/')
              i.icon-layers.mr-1
              span.d-none.d-md-block All Notes
          li.nav-item.ml-auto
            a.nav-link.btn-primary.rounded-pill.d-flex.align-items-center.px-3#add-notes(href='/add-note')
              i.icon-note.m-1
              span.d-none.d-md-block.font-14 Add Notes
          li.nav-item.ml-3
            a.nav-link.btn-danger.rounded-pill.d-flex.align-items-center.px-3#logout(href='#')
              i.icon-note.m-1
              span.d-none.d-md-block.font-14 Logout
        .tab-content.bg-transparent
          #note-full-container.note-has-grid.row
            each note in notes
              .col-md-4.single-note-item.all-category
                .card.card-body
                  input(type="button", value=`${note.id}` hidden)
                  span.side-stick
                  h5.note-title.text-truncate.w-75.mb-0(data-noteheading='Book a Ticket for Movie')= note.title
                    i.point.fa.fa-circle.ml-1.font-10
                  p.note-date.font-12.text-muted= note.dueDate
                  .note-content
                    p.note-inner-content.text-muted(data-notecontent='Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.')= note.description
                  .d-flex.align-items-center
                    //- a(href=`/edit-note/${note.id}`) 
                    a(href=`/edit-note?id=${note.id}`) 
                      span.mr-1
                        i.fa.fa-edit.favourite-note
                    a(href=`/delete-note?id=${note.id}`)   
                        span.mr-1
                        i.fa.fa-trash.remove-note.text-danger
                    .ml-auto
                      .category-selector.btn-group
                        a.nav-link.dropdown-toggle.category-dropdown.label-group.p-0(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='true')
                          .category
                            .category-business
                            .category-social
                            .category-important
                            span.more-options.text-dark
                              i.icon-options-vertical
                        .dropdown-menu.dropdown-menu-right.category-menu
                          a.note-business.badge-group-item.badge-business.dropdown-item.position-relative.category-business.text-success(href='javascript:void(0);')
                            i.mdi.mdi-checkbox-blank-circle-outline.mr-1
                            | Business 
                          a.note-social.badge-group-item.badge-social.dropdown-item.position-relative.category-social.text-info(href='javascript:void(0);')
                            i.mdi.mdi-checkbox-blank-circle-outline.mr-1
                            |  Social 
                          a.note-important.badge-group-item.badge-important.dropdown-item.position-relative.category-important.text-danger(href='javascript:void(0);')
                            i.mdi.mdi-checkbox-blank-circle-outline.mr-1
                            |  Important

            
        .modal.fade#addnotesmodal(tabindex='-1' role='dialog' aria-labelledby='addnotesmodalTitle' style='display: none;' aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content.border-0
              .modal-header.bg-info.text-white
                h5.modal-title.text-white Add Notes
                button.close.text-white(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                .notes-box
                  .notes-content
                    form#addnotesmodalTitle(action='javascript:void(0);')
                      .row
                        .col-md-12.mb-3
                          .note-title
                            label Note Title
                            |  
                            input#note-has-title.form-control(type='text' minlength='25' placeholder='Title')
                        .col-md-12
                          .note-description
                            label Note Description
                            textarea#note-has-description.form-control(minlength='60' placeholder='Description' rows='3')
              .modal-footer
                button#btn-n-save.float-left.btn.btn-success(style='display: none;') Save
                |  
                button.btn.btn-danger(data-dismiss='modal') Discard
                |  
                button#btn-n-add.btn.btn-info(disabled) Add
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js')                  
    script(src='js/dashboard.js')
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.bundle.min.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD")
